.bestSellersBooks {
  margin: 20px 0;
  overflow-x: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.bestSellersBooks__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bestSellersBooks__list {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden; /* Hide the vertical scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.bestSellersBooks__list::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
}

.bestSellersBooks__item {
  flex: 0 0 auto;
  margin-right: 10px;
  scroll-snap-align: start;
}

.bestSellersBooks__item img {
  width: 150px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  border: 1px solid #ddd; /* Add a border for better visualization */
  border-radius: 4px;
}
