*{
  margin: 0;
  padding: 0;
}
.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #00453E;
  position: sticky;
}
.header__logo{
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header_option {
    flex-direction:row;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
}
.header_optionLineOne {
    font-size: 12px;
}
.header_optionLinetwo {
    font-size: 13px;
    font-weight: 800;
}
.header_optionChocice {
    flex: 0.1;
    border-top-left-radius: 1vmin;
    border-bottom-left-radius: 1vmin;
    height: 30px;
    border: none;
    width: 50%;
}
.header__search{
  display: flex;
  flex: 1;
  align-items: center;
}
.header__searchInput{
  height: 30px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon{
  padding: 5px;
  height: 30px !important;
  background-color: #FFCABD;
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;

}
.header__option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;

}
.header__nav{
  display: flex;
  justify-content: space-evenly;
}
.header__optionLineOne{
  font-size: 10px;
  font-weight: 600;
  opacity: 0.9;
}
.header__optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount{
  margin-left: 10px;
  margin-right: 10px;
}